*{
    box-sizing: border-box;
}

/* element selector */
body{
    background-color: #3b444b;
    font-family: sans-serif;
    color: white;
}

/* media query */
/* tablet : layout yang ditampilkan 4 kolom*/
@media screen and (min-width: 600px) {
    body {
        background-color: black;
    }

    .col-sm-6 {
        width: 50%;
        float: left;
    }
}

/* dekstop */
@media screen and (min-width: 992px) {
    body {
        background-color: maroon;
    }
    
    .col{
        width: 25%;
        float: left;
    }

    .col-lg-3{
        width: 25%;
        float: left;
    }

    .col-lg-4{
        width: 33.33%;
        float: left;
    }
}

/* class selector */
.text-primary{
    color: whitesmoke;
}


.img-responsive{
    width: 100%;
}

.circle{
    border-radius: 50%;
}

.p-1{
    padding: 20px;
}

.col-50{
    width: 50%;
    float: left;
}

.col-25{
    width: 25%;
    float: right;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.semi-circle {
    border-radius: 5%;
}

/* .col-33 {
    width: 33.33%;
    float: left;
} */